@mixin clearfix() {
  *zoom: 1;
  &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  body {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: ragb(90, 90, 90, 1.00);
    text-align: center;
    font-size: medium;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif, "微軟正黑體", "Microsoft JhengHei";
    background: rgba(242, 242, 242, 1.00);
  }
}

.green {
  color: rgba(128, 211, 31, 1.00);
}

.red {
  color: rgba(208, 0, 27, 1.00);
}

.blue {
  color: #4A90E2;
}

.yellow {
  color: #F5A623;
}

.gray {
  color: #9B9B9B;
}

.b-green {
  background-color: rgba(128, 211, 31, 1.00);
}
.b-red {
  background-color: rgba(208, 0, 27, 1.00);
}

.b-blue {
  background-color: #4A90E2;
}

.b-yellow {
  background-color: #F5A623;
}

.b-gray {
  background-color: #9B9B9B;
}

.container {
  display: inline-block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

#header {
  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: black;
  text-align: center;
  .container {
    @include clearfix();
    >* {
      float: left;
      display: inline-block;
      height: 70px;
      line-height: 70px;
    }
    .logo {
      width: 150px;
      font-size: 24px;
      color: white;
      font-weight: bold;
      text-align: left;
    }
    .admin {
      width: 60px;
      font-size: 16px;
      color: white;
      font-weight: bold;
      text-align: right;
    }
    .menu {
      width: calc(100% - 150px - 60px);
      @include clearfix();
      >* {
        position: relative;
        display: inline-block;
        float: left;
        text-decoration: none;
        color: rgba(155, 155, 155, 1.00);
        font-weight: bold;
        font-size: 16px;
        padding: 0 16px; // border: 1px solid white;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 3px;
          background-color: rgba(155, 155, 155, 1.00);
          opacity: 0;
        }
        &.active,
        &:hover {
          color: rgba(255, 255, 255, 0.993);
          &:after {
            background-color: rgba(255, 255, 255, 1.00);
            opacity: 1;
          }
        }
      }
    }
  }
}

.panel {
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
}
